html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back {
    position: relative;           /* IMPORTANT */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chess board */
.board {
    max-width: 80%;
    max-height: 80%;
}

/* Shared piece behavior */
.piece {
    position: absolute;           /* allows free movement */
    width: 52px;
    height: 52px;
    cursor: grab;
}

/* Black king (top side) */
.black {
    --x: 55%;
    --y: 11%;
    left: var(--x);
    top: var(--y);
    transform: translateX(-50%);
}


/* White king (bottom side) */
.white {
    --x: 55%;
    --y: 81%;
    left: var(--x);
    top: var(--y);
    transform: translateX(-50%);
}